.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 170px;
  position: relative;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
}

.nav-link {
  padding: 10px 20px;
  border-radius: 50px;
  font-size: 15px;
  cursor: pointer;
  background-color: rgba(236, 236, 238, 0.753);
  white-space: nowrap;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  color: rgb(53, 53, 235);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  user-select: none;
}
.navbar-container {
  background-color: #fff;
  width: 100%;
  padding: 24px;
  border: 5px;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: #fff;
    width: 100%; /* FULL WIDTH */
    padding: 20px 0;
    display: none;
    z-index: 10;
    gap: 20px;
    align-items: center;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-right: 0; /* REMOVE EXTRA SPACE */
  }

  .nav-menu.show {
    display: flex;
  }

  .hamburger {
    display: block;
  }

  .nav-link {
    display: none;
  }

  .navbar {
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
