* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden; /* This hides any accidental horizontal overflow */
}

body {
  min-height: 100vh;
  color: black;
  background: #ededed;
  overflow-x: hidden; /* Hides horizontal scrolling */
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
}
html {
  scroll-behavior: smooth;
}
