*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  color: black;
  background:#EDEDED;
  overflow-x: hidden; /* Hides horizontal scrolling */
  box-sizing: border-box;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  align-items: center;
  justify-content: center;
}
html {
  scroll-behavior: smooth;
}

